@model UI.AnchorCalculator.ViewModels.MaterialViewModel

<form method="post" asp-controller="Material" asp-action="Add">
  <div class="row mb-3">
    <label asp-for="Name" class="col-sm-2 col-form-label">Название</label>
    <div class="col-sm-10">
      <select asp-for="Name" class="form-select" aria-label="Default select example">
          @foreach (var item in Model.Names)
          {
              <option value="@item">@item</option>
          }
      </select>
    </div>
  </div>
  <div class="row mb-3">
    <label asp-for="Size" class="col-sm-2 col-form-label">Размер</label>
    <div class="col-sm-10">
      <input asp-for="Size" type="number" class="form-control" id="size" step="0.5" min="6" max="100">
      <span asp-validation-for="Size" class="text-danger"></span>
    </div>
  </div> 
  <div class="row mb-3">
    <label asp-for="TypeId" class="col-sm-2 col-form-label">Тип профиля</label>
    <div class="col-sm-10">
      <select asp-for="TypeId" class="form-select" aria-label="Default select example">
          @foreach (var item in Model.Types)
          {
              <option value="@Array.IndexOf(Model.Types, item)">@item</option>
          }
      </select>
    </div>
  </div>
  <div class="row mb-3">
    <label asp-for="PricePerMetr" class="col-sm-2 col-form-label">Цена за метр</label>
    <div class="col-sm-10">
      <input asp-for="PricePerMetr" type="number" class="form-control" id="size" step="0.5" min="6">
      <span asp-validation-for="PricePerMetr" class="text-danger"></span>
    </div>
  </div> 
  <button type="submit" class="btn btn-primary">Добавить</button>
</form>


@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}